<!--*ngIf="localStorage.getItem(logado) != null && localStorage.getItem(logado)" -->
<!--<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-3">
      <a routerLink="/paciente" class="brand-logo thin">
        <i class="material-icons">supervisor_account</i>Acompanhamento</a>
      <a href="#" data-activates="mobile" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li routerLinkActive="active">
          <a routerLink="/paciente/user">Fisioterapeutas</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/paciente">Pacientes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/atividade">Exercícios</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/permissoes">Permissões</a>
        </li>
        <li routerLinkActive="active">
          <a (click)="deslogar()" routerLink="/login">Sair</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li routerLinkActive="active">
          <a routerLink="/user">Fisioterapeutas</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/paciente">Pacientes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/atividade">Exercícios</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/permissoes">Permissões</a>
        </li>
        <li routerLinkActive="active">
          <a (click)="deslogar()" routerLink="/login">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>-->
<div class="navbar-fixed">
    
  <nav class="grey darken-4">
    <div class="container nav-wrapper ">
      <a routerLink="/paciente" class="brand-logo">
        <img src="../assets/images/logogm.png" alt="greenmile logo"/>
      </a>
      <ul class="right hide-on-med-and-down">
          <li *ngIf="autenticado()">
              <a routerLink="/organizador">Organizadores</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/evento"><i class="material-icons left">search</i>Hackathons</a>
          </li>
          <li *ngIf="!autenticado()">
            <a routerLink="/login"><i class="material-icons right">account_circle</i></a>
          </li>
          <li *ngIf="autenticado()">
              <a (click)="deslogar()">Sair</a>
            </li>
        </ul>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>