<div class="row">
    <div class="col s12">
      <h5 class="grey-text text-darken-4">Hackathons</h5>
    </div>
    <div class="col s12">
    <table class="bordered highlight">
    <thead>
      <th>Nome</th>
      <th>Local</th>
      <th>Nº Participantes</th>
      <th>Opções</th>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos">
        <td>{{evento.nome}}</td>
        <td>{{evento.local}}</td>
        <td>{{evento.numeroParticipantes}}</td>
        <td>
          <button type="button" class="btn-floating grey darken-4" (click)="redirecionar(evento)" >
            <i class="material-icons">group_add</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
  </div>
