<div class="row">
  <div class="col s3">

  </div>
  <div class="col s6">
    <form materialize>
      <div class="row">
        <h5 class="grey-text text-darken-4">Cadastrar Equipe</h5>
        <div class="input-field col s12">
          <input id="nome" autofocus type="text" [(ngModel)]="equipe.nome" [ngModelOptions]="{standalone: true}" class="validate">
          <label for="nome" data-error="Invalido" data-sucess="Correto">Nome da Equipe</label>
        </div>
        <div *ngFor="let x of tamanho">
          <div class="input-field col s12">
            <input id="nomeParticipante" autofocus type="text" class="validate">
            <label for="nomeParticipante" data-error="Invalido" data-sucess="Correto">Nome</label>
          </div>
          <div class="input-field col s12">
            <input id="email" autofocus type="email" class="validate">
            <label for="email" data-error="Invalido" data-sucess="Correto">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="telefone" autofocus type="text" class="validate">
            <label for="telefone" data-error="Invalido" data-sucess="Correto">Telefone</label>
          </div>
          <div class="input-field col s12">
            <input id="tamanho" autofocus type="text" class="validate">
            <label for="tamanho" data-error="Invalido" data-sucess="Correto">Tamanho</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l4">
            <button class="btn btn-large waves-effect waves-light" type="button" name="action" (click)="save()">Cadastrar</button>
          </div>
          <div class="col s12 m6 l4">
            <button class="btn btn-large waves-effect red" type="button" name="action" routerLink="">Cancelar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col s3">

  </div>
</div>